.text-normal {
  color: $normal;
}
.text-fighting {
  color: $fighting;
}
.text-flying {
  color: $flying;
}
.text-poison {
  color: $poison;
}
.text-ground {
  color: $ground;
}
.text-rock {
  color: $rock;
}
.text-bug {
  color: $bug;
}
.text-ghost {
  color: $ghost;
}
.text-steel {
  color: $steel;
}
.text-fire {
  color: $fire;
}
.text-water {
  color: $water;
}
.text-grass {
  color: $grass;
}
.text-electric {
  color: $electric;
}
.text-psychic {
  color: $psychic;
}
.text-ice {
  color: $ice;
}
.text-dragon {
  color: $dragon;
}
.text-dark {
  color: $dark;
}
.text-fairy {
  color: $fairy;
}
.text-unknown {
  color: $unknown;
}
.text-shadow {
  color: $shadow;
}