// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$main-darker-blue: #2E3454;
$main-dark-blue: #343C64;
$main-yellow: #F7BA15;

$primary-border-radius: 1rem;

$normal: #929DA3;
$fighting: #CE416B;
$flying: #8FA9DE;
$poison: #AA6BC8;
$ground: #D97845;
$rock: #C5B78C;
$bug: #91C12F;
$ghost: #5269AD;
$steel: #5A8EA2;
$fire: #FF9D55;
$water: #5090D6;
$grass: #63BC5A;
$electric: #F4D23C;
$psychic: #FA7179;
$ice: #73CEC0;
$dragon: #0B6DC3;
$dark: #5A5465;
$fairy: #EC8FE6;
$unknown: #68A090;
$shadow: #999999;
